<html>
    <head>
        <meta name="admin.active.section" content="admin_plugins_menu/my_new_section"/>
        <meta name="admin.active.tab" content="my_new_tabbed_item"/>
        <meta name="decorator" content="atl.admin"/>
        <title>Esqueleto Admin</title>
    </head>
    <body>
        <h2>Para guardar la configuración haga click en el botón guardar</h2>
        <form id="admin" method="POST">
            <div>
                <input type="checkbox" id="regla1" name="regla1" $regla1/>
                <label for="name">Haga click en la cajita para activar/desactivar la regla</label>
            </div>
            <div>
                <input type="checkbox" id="regla2" name="regla2" $regla2/>
                <label for="name">Haga click en la cajita para activar/desactivar la regla</label>
            </div>
            <div>
                <input type="checkbox" id="regla3" name="regla3" $regla3/>
                <label for="name">Haga click en la cajita para activar/desactivar la regla</label>
            </div>
            <div>
                <input type="checkbox" id="regla4" name="regla4" $regla4/>
                <label for="name">Haga click en la cajita para activar/desactivar la regla</label>
            </div>
            <div>
                <input type="checkbox" id="regla5" name="regla5" $regla5/>
                <label for="name">Haga click en la cajita para activar/desactivar la regla</label>
            </div>
            <input type="submit" value="Guardar"/>
        </form>
    </body>
</html>