<html>
    <head>
        <meta name="decorator" content="blank">
        $webResourceManager.requireResourcesForContext("atl.general")
    </head>
    <body>
        <h2>Finalización</h2>
        <span>$mensaje</span>
        <span>$nuevoIncidente</span>
        <span>$validation</span>
        <footer class="aui-dialog2-footer">
            <!-- Actions to render on the right of the footer -->
            <div class="aui-dialog2-footer-actions">
                <button type ="button" class="aui-button aui-button-primary" id="closeBtn">Finalizar</button>
            </div>
            <!-- Hint text is rendered on the left of the footer -->
            <div class="aui-dialog2-footer-hint">Confirme la información.</div>
        </footer>
    </body>
</html>