<html>
    <head>
        <meta name="decorator" content="blank">
        $webResourceManager.requireResourcesForContext("atl.general")
    </head>
    <body>
        <h2>Creación del ESTCORE</h2>
        <form action="/plugins/servlet/pluginUI/fifthStep" method="post" class="aui">
            <div class="field-group">
                <label>Issue a escalar</label>
                <input type="text" readonly name="issue" value="$issue.getKey() / $issue.getSummary()"field-group/>
            </div>
            <div class="field-group">
                <label>Problem relacionado</label>
                <input type="text" readonly name="problem" value="$problem.getKey() / $problem.getSummary()"field-group/>
            </div>
            <div class="field-group">
                <label>Proyecto al que se escalará</label>
                <input type="text" readonly name="project" value="$project"field-group/>
            </div>
            <div class="field-group">
                <label>Épica asociada</label>
                    <select name="epica" class="select">
                        #foreach ($epica in $epicas)
                            #if($epica.getKey().contains("ESTCORE"))
                                <option value="$epica.getKey()">$epica.getKey() / $epica.getSummary()</option>
                            #end
                        #end
                </select>
            </div>
            <div class="field-group">
                <label>Persona a la que se escalará</label>
                <select name="personaAEscalar" class="select"/>
                    #foreach ($opcion in $personaAEscalarOpciones)
                        <option value="$opcion.getName()">$opcion.getDisplayName()</option>
                    #end
                <select>
            </div>
            <div class="field-group">
                <label>Momento del error</label>
                <select name="momentoError" class="select">
                    #foreach ($option in $momentoErrorOpciones)
                        <option value="$option.getOptionId()">$option.getValue()</option>
                    #end
                </select>
            </div>
            <div class="field-group">
                <label>Prioridad</label>
                <select name="prioridad" class="select">
                    <option value="4">Low / Baja</option>
                    <option value="3">Medium / Media</option>
                    <option value="2">High / Alta</option>
                </select>
            </div>
            <div class="field-group">
                <label>Severidad</label>
                <select name="severidad" class="select">
                    #foreach ($option in $severidadOpciones)
                        <option value="$option.getOptionId()">$option.getValue()</option>
                    #end
                </select>
            </div>
            <div class="field-group">
                <label>Fábrica de desarrollo</label>
                <select name="fabricaDesarrollo"/ class="select">
                    #foreach ($option in $fabricaDesarrolloOpciones)
                        <option value="$option.getOptionId()">$option.getValue()</option>
                    #end
                </select>
            </div>
            <div class="field-group">
                <label>Motivo de escalamiento</label>
                <select name="motivoEscalamiento" class="select">
                    #foreach ($option in $motivoEscalamientoOpciones)
                        <option value="$option.getOptionId()">$option.getValue()</option>
                    #end
                </select>
            </div>
            <!-- Dialog footer -->
            <footer class="aui-dialog2-footer">
                <!-- Actions to render on the right of the footer -->
                <div class="aui-dialog2-footer-actions">
                    <input type="submit" id="submitBtn" class="aui-button aui-button-primary" value="Siguiente"/>
                    <button type ="button" class="aui-button aui-button-link" id="closeBtn">Close</button>
                </div>
                <!-- Hint text is rendered on the left of the footer -->
                <div class="aui-dialog2-footer-hint">Confirme la información.</div>
            </footer>
            <!--<div class="aui-dialog2-footer-actions">
                <input type="submit" class="aui-button aui-button-primary" style="left:50%;" value="Finalizar"/>
            </div>-->
        <form>
    </body>
</html>