<html>    
    <head>                
        <meta name="decorator" content="blank">        
        $webResourceManager.requireResourcesForContext("atl.general")        
    </head>
    <body>        
        <h2>Seleccione el origen del escalado</h2>
        <form action="/plugins/servlet/pluginUI/secondStep" method="POST" class="aui">
            <div class="field-group">
                <label>
                    Issue a escalar
                </label>
                <input type="text" name="issueKey" value="$issueKey" readonlyfield-group/>
            </div>
            <div class="field-group">                
                <label>
                    Babysitting
                </label>
                <input type="radio" name="origen" value="Babysitting" checked/>
            </div>
            <div class="field-group">                
                <label>
                    Preexistente
                </label>
                <input type="radio" name="origen" value="Preexistente"/>
            </div>    
            <!-- Dialog footer -->
            <footer class="aui-dialog2-footer">
                <!-- Actions to render on the right of the footer -->
                <div class="aui-dialog2-footer-actions">
                    <input type="submit" id="submitBtn" class="aui-button aui-button-primary" value="Siguiente"/>
                    <button type ="button" class="cancel" id="closeBtn">Cerrar</button>
                </div>
                <!-- Hint text is rendered on the left of the footer -->
                <div class="aui-dialog2-footer-hint">Origen del defecto.</div>
            </footer>
        <form>
    </body>
</html>