<html>
    <head>
        <meta name="decorator" content="blank">
        $webResourceManager.requireResourcesForContext("atl.general")
    </head>
    <body>
        <h2>Seleccione de la lista el Problem o cree uno nuevo</h2>
        <form action="/plugins/servlet/pluginUI/fourthStep" method="POST" class="aui">
            <div class="field-group">
                <label>
                    Proyecto donde se escalará
                </label>
                <input type="text" readonly name="proyecto" value="$proyectoAEscalar.getKey() / $proyectoAEscalar.getName()"/>
            </div>
            <div class="field-group">
                <label>
                    Incident que se escalará
                </label>
                <input type="text" readonly name="issueKey" value="$issueKey"/>
            </div>
            <div class="field-group">
                <label>Seleccione el problem</label>
                <select name="problem" class="select" id="problem">
                    #if($issueType.equalsIgnoreCase("Incident"))
                        #foreach ($problem in $problems)
                            <option value="$problem.getKey()">$problem.getKey() - $problem.getSummary()</option>
                        #end
                    #else
                            <option value="Service Request">Service Request - No lleva problem asociado</option>
                    #end
                </select>
            </div>
            #if($issueType.equalsIgnoreCase("Incident"))
                <div class="field-group">
                    <label>
                        Deseo asociarle un problema nuevo
                    </label>
                    <input type="checkbox" id="crearProblemaNuevo" name="crearProblemaNuevo" value="Si"/>
                </div>
                <div class="field-group">
                    <label>
                        Deseo cambiarle el nombre al problem elegido?
                    </label>
                    <input type="checkbox" name="cambiarNombreProblema" id="cambiarNombre" onclick=""/>
                </div>
                <div class="field-group">
                    <label>
                        Nuevo nombre para el problem
                    </label>
                    <input type="text" name="nombreNuevo" value="Nombre para el incidente"/>
                </div>
            #else
                <div class="field-group">
                    <label>
                        Deseo asociarle un problema nuevo
                    </label>
                    <input type="checkbox" name="crearProblemaNuevo" value="Si" onclick="javascript: return false;"/>
                </div>
                <div class="field-group">
                    <label>
                        Deseo cambiarle el nombre al problem elegido?
                    </label>
                    <input type="checkbox" name="cambiarNombreProblema" value="Si" onclick="javascript: return false;"/>
                </div>
                <div class="field-group">
                    <label>
                        Nombre para el incidente
                    </label>
                    <input type="text" name="nombreNuevo" value="Nombre para el incidente"/>
                </div>
            #end
            <!-- Dialog footer -->
            <footer class="aui-dialog2-footer">
                <!-- Actions to render on the right of the footer -->
                <div class="aui-dialog2-footer-actions">
                    <input type="submit" id="submitBtn" class="aui-button aui-button-primary" value="Siguiente"/>
                    <button type ="button" class="cancel" id="closeBtn">Cerrar</button>
                </div>
                <!-- Hint text is rendered on the left of the footer -->
                <div class="aui-dialog2-footer-hint">Seleccione el problem o cree uno nuevo.</div>
            </footer>
        <form>
    </body>
</html>